body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('https://imagekit.io/static/img/newPages/homepage-wave-bg.svg') no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

.app {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: contain;
}

header {
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.small {
  width: 100px;
  height: 40px;
  object-fit: cover;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 30%;
  object-fit: contain;
  margin: 0 auto;
  margin: 20px auto;
  border-radius: 20px;
}

.copy {
  text-align: center;
  color: #999;
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }

  p,
  .title,
  .copy {
    font-size: 18px;
  }

  .copy {
    text-align: center;
    font-size: 10px;
  }
}
